<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head th:include="resources::header">
    <title>Document</title>
</head>
<body th:with="curPage='home'">
<div th:replace="resources::navbar"></div>

<div class="container">
    <form>
        <div class="form-group">
            <label class="sr-only" for="content">content</label>
            <textarea class="form-control" rows="3" id="content"></textarea>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-primary" onclick="publish()">submit</button>
        </div>
    </form>

    <div class="alert alert-danger" role="alert" id="msgTip" style="display: none;"></div>

    <div id="msgWall">

    </div>

</div> <!-- /container -->

<script>
    var pageNo = 1;
    var pageSize = 10;

    function getMsg() {
        $.ajax({
            type: "post",
            url: "/getRecentMsg",
            dataType: 'json',
            data: "pageNo=" + pageNo + "&pageSize=" + pageSize,
            success: function (data) {
                if (data.code === 0) {
                    var html = "";
                    var contents = data.data.data;
                    if (contents != null) {
                        for (var i = 0; i < contents.length; i++) {
                            html = "<div class='well'>" + contents[i].content + "</div>";
                            $("#msgWall").append(html);
                        }
                        if (contents.length < pageSize) {
                            //说明是最后一页了 下拉加载功能可以关闭了
                            pageNo = 0;
                        }
                    }
                } else {
                    $("#msgTip").show().html(data.msg);
                }
            }
        });
    }

    getMsg();

    function publish() {
        var $content = $('#content');
        $.ajax({
            type: "post",
            url: "/publishMsg",
            dataType: 'json',
            data: "content=" + $content.val(),
            success: function (data) {
                if (data.code === 0) {
                    var html = "<div class='well'>" + $content.val() + "</div>";
                    $content.val('');
                    $("#msgWall").prepend(html);
                } else {
                    $("#msgTip").show().html(data.msg);
                }
            }
        });
    }

    var $window = $(window);
    var $document = $(document);

    function onScroll() {
        // 如果窗口底部小于1像素，就执行加载事件
        var winHeight = window.innerHeight ? window.innerHeight : $window.height(); // iphone fix
        var closeToBottom = ($window.scrollTop() + winHeight > $document.height() - 1);
        if (closeToBottom && pageNo > 0) {
            pageNo++;
            getMsg();
        }
    }

    $window.bind('scroll', onScroll);
</script>
</body>
</html>